html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.link-card {
  display:inline-block;
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 6px;
}

h2{
  font-family: Dosis, sans-serif;
  color: #512200;
  font-size: 1.5rem;
  padding: .4em .75em .5em;
  margin: 0;
  line-height: 1.5;
}

p{
  font: Georgia, serif;
  color: #512200;
  padding: .4em .75em .5em;
  line-height: 1.5em;
  margin-bottom: 0;

}
